<%- layout('layouts/boilerplate') %>

<!-- work project section starts -->
<section class="work" id="work" data-aos="fade-in" data-aos-delay="300">

    <h2 class="heading"><i class="fas fa-laptop-code"></i> Projects <span>Made</span></h2>

    <div class="box-container" style="color: white; font-size: 30px; text-align: justify;">
       <div class="box-container"> 
        <h1 style="color: white; ">Food Blog Project </h1>
        • Developed a blog page using Angular (TypeScript), Express (JavaScript), SQL, HTML, and CSS.<br>
        • Implemented user login/sign-up, recipe creation, viewing, editing, and search functionality.<br>
        • Enabled recipe rating and provided an intuitive interface for user interactions. <br>
        • Utilized data structures for efficient data management and retrieval </div>
        <div class="box-container"> 
       <h1 style="color: white;">E-Healthcare System </h1> 
        • Developed a static web page using HTML, CSS, and JavaScript. <br>
        • Implemented responsive design to ensure compatibility across various devices and screen sizes. <br>
        • Focused on creating a user-friendly layout for easy navigation and accessibility. <br>
        • Designed and styled web components to enhance visual appeal and user experience. <br>
        • Integrated form validation and interactive features using JavaScript.</div>
        <div class="box-container">
        <h1 style="color: white;">Tourism Management System </h1>
        • Built an e-commerce website using PHP and SQL to manage tourism services. <br>
        • Developed dynamic web pages to display tourism packages, destinations, and booking details. <br>
        • Implemented user authentication and session management for secure user access. <br>
        • Designed and optimized database schemas to store and retrieve data efficiently. <br>
        • Created an admin panel for managing tourism packages, user accounts, and bookings. Ensured data integrity and 
        security through input validation and SQL injection prevention. Enhanced the website's usability with intuitive 
        navigation and search functionality.</div> 

</section>
<!-- work project section ends -->

<!-- scroll top btn -->
<a href="#work" class="fas fa-angle-up" id="scroll-top"></a>
<!-- scroll back to top -->